.body{

}

.container {
}

.row {
	
}

[class^="col-"]:first-child {
	
}

[class^="col-"]:last-child {
	
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  border: none;
  background-color: #333A41;
  color: #E8ECEF;
}

.card-text {
	text-align: justify;
}

.btn-primary {
	background-color: #348080;
	border: none;
}

.btn-primary:hover {
	background-color: #174140;
	color: #E8ECEF;
	border: none;
}